@media (max-width:375px){
   
    .imagem{
    
        width: 343px;
        height: 242px;
        background-image: url("..src/imagens/image-product-mobile.jpg");
        background-size: cover;
           
    }

.descricao{
    width: 343px;
    height: 380px;
       
}

.titulo{
    font-size: none;
    font-weight: none;
    margin-bottom: 50px;
   margin-top: -8px;
   margin-right: 54px;
   padding-bottom: 30px;
}

.nomeperfume{
    
    margin-top: -71px;
    width: 280px;
    
}
.descricao-perfume{
    padding-left: 0;
    text-align: left;
    width: 280px;

}


.precos{
    margin-top:20px ;
    padding-bottom: 20px; 

}

.compra{
    
    width: 293px;
    height: 50px ;
}

}
